.container {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  border-radius: 25px;
  .title {
    margin-top: 10px;
  }
}
